{% extends 'base.html.twig' %}

{% block title %}Nueva Categoria{% endblock %}

{% block body %}
    <h1>Nueva Categoria</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Regrasar a la lista</a>
{% endblock %}
