{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <h1>Crear Nuevo Producto</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">Regresar a la Lista</a>
{% endblock %}
